<% if @err_msg.present? %>
  $('#errormsg').replaceWith("<p id='errormsg'> <%= @err_msg %> </p>");
<% else %>
  $('#addGroup').modal('hide');
  $('.modal-backdrop').remove();
  $('.grpList').replaceWith("<%= escape_javascript(render('/groups/group_list')) %>")
  $('#group_id').replaceWith("<%= escape_javascript(select_tag 'group_id', options_from_collection_for_select(current_user.groups, 'id', 'name'), { class: 'form-control' } )%>")
<% end %>
